{#
/**
 * @file
 * Default theme implementation to present a notify me entity.
 *
 * This template is used when viewing a registered notify me's page,
 * e.g., /admin/content/notifyme)/123. 123 being the notify me's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_notifyme()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
